* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

ul,
ul > li {
  list-style: none;
  margin: 0;
  padding: 0;
}

header > ul,
header > ul > li {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

header > ul > li {
  margin-right: 20px;
}
header > ul > li > h1 {
  margin-right: 20px;
}

header > ul > li > img {
  margin: 20px;
  margin-left: 3vw;
}

footer {
  margin-top: 10px;
  margin-bottom: 20px;
}

footer > ul,
footer > ul > li {
  display: flex;
  /* justify-content: space-around; */
  align-items: center;
}

footer > ul {
  margin-left: 3vw;
}

footer > ul > li:first-child {
  margin-right: 20px;
}

main > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
main > ul > li {
  width: 45%;
  margin: 2vw 0;
  background-color: #eee;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 400px;
}
main > ul > li:hover {
  background-color: #ccc;
}
main > ul > li > a {
  padding: 25px;
  color: unset;
  text-decoration: unset;
  width: 100%;
  height: 100%;
}

main > ul > li > a > h2 {
  margin: 0;
  margin-bottom: 20px;
}
main > ul > li > a > p {
  margin: 0;
  color: #666;
}
/* 
@media only screen and (max-width: 600px) {
  header > ul > li > img {
    width: 42px;
    margin: 10px;
    margin-left: 5vw;
    margin-right: 20px;
  }


} */
